In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
i_m_h = pd.read_csv('./csv_tables/involved_markers_heb.csv')
i_m_h

C:\Users\itay8\AppData\Local\Temp\ipykernel_5404\3884709592.py:1: DtypeWarning: Columns (150) have mixed types. Specify dtype option on import or set low_memory=False.
  i_m_h = pd.read_csv('./csv_tables/involved_markers_heb.csv')

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,driving_directions_hebrew,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew
0,2013001445,12013001445,1,1,3,נפגע,0,4,15-19,1.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה
1,2023057591,32023057591,3,3,1,נהג,2021,6,25-29,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,4.0,אין נזק
2,2023059223,32023059223,3,3,1,נהג,0,99,לא ידוע,0.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,4.0,אין נזק
3,2013001445,12013001445,1,1,2,נהג נפגע,2012,4,15-19,1.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה
4,2013001445,12013001445,1,1,3,נפגע,0,5,20-24,2.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357736,2023099073,32023099073,3,3,1,נהג,0,99,לא ידוע,0.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,2.0,2.0-2.9,4.0,אין נזק
1357737,2023099373,32023099373,3,3,2,נהג נפגע,2011,7,30-34,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
1357738,2023099555,32023099555,3,3,1,נהג,0,99,לא ידוע,0.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,0.0,לא ידוע,0.0,לא ידוע
1357739,2023099589,32023099589,3,3,1,נהג,1991,12,55-59,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,51.0,11.0,16.0-19.0,4.0,אין נזק
1357740,2023099864,32023099864,3,3,2,נהג נפגע,2021,6,25-29,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,4.0,אין נזק

In [19]:
# i_m_h[i_m_h.involve_yishuv_name == 'ירושלים'] # 3000

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,...,driving_directions_hebrew,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_damage,vehicle_damage_hebrew
0,2013001445,12013001445,1,1,3,נפגע,0,4,15-19,1.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה
3,2013001445,12013001445,1,1,2,נהג נפגע,2012,4,15-19,1.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,3.0,קשה
7,2013001705,12013001705,1,1,1,נהג,2008,6,25-29,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל
133,2013000643,32013000643,3,3,3,נפגע,0,5,20-24,1.0,...,\tממערב למזרח,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,2.0,בינוני
134,2023028123,32023028123,3,3,1,נהג,2018,5,20-24,1.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357607,2023097378,12023097378,1,1,1,נהג,2016,7,30-34,1.0,...,\tמדרום לצפון,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
1357629,2023094611,12023094611,1,1,3,נפגע,0,99,לא ידוע,0.0,...,\tמדרום לדרום,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,3.0,קשה
1357660,2023097277,32023097277,3,3,3,נפגע,0,3,10-14,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1357687,2023096756,32023096756,3,3,2,נהג נפגע,2019,6,25-29,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,3.0,1.0,עד 1.9,1.0,קל
1357727,2023096255,32023096255,3,3,2,נהג נפגע,2011,9,40-44,2.0,...,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,1.0,עד 1.9,1.0,קל

In [ ]:
i_m_h[i_m_h.invol]

### Adding Israeli cities CSV

In [13]:
# i_c = pd.read_csv('./csv_tables/israeli_cities.csv', encoding = "ISO-8859-1")
# i_c = pd.read_csv('./csv_tables/israeli_cities.csv', encoding="windows-1255")
# i_c

In [39]:
# i_c[i_c['סמל_ישוב'] == 5000]

,סמל_ישוב,שם_ישוב,סמל_נפה,נפה,קוד_לשכת_מנא,לשכת_מנא,קוד_מועצה_אזורית,מועצה_אזורית,סהכ,גיל_0_5,גיל_6_18,גיל_19_45,גיל_46_55,גיל_56_64,גיל_65_פלוס
1227,5000,תל אביב - יפו,51,תל אביב,51,"ת""א - מרכז",0,,579556,38792,74495,229165,71613,50665,114826

In [43]:
# i_c_en = pd.DataFrame(columns=['yishuv_symbol','yishuv_name','total', 'age_0_5', 'age_6_18','age_19_45','age_46_55','age_56_64','age_65_plus'])
# i_c_en

Empty DataFrame
Columns: [yishuv_symbol, yishuv_name, total, age_5_0, age_6_18, age_19_45, age_46_55, age_56_64, age_65_plus]
Index: []

In [44]:
# i_c_en['yishuv_symbol'] = i_c['סמל_ישוב']
# i_c_en['yishuv_name']   = i_c['שם_ישוב']
# i_c_en['total']         = i_c['סהכ']
# i_c_en['age_5_0']       = i_c['גיל_0_5']
# i_c_en['age_6_18']      = i_c['גיל_6_18']
# i_c_en['age_19_45']     = i_c['גיל_19_45']
# i_c_en['age_46_55']     = i_c['גיל_46_55']
# i_c_en['age_56_64']     = i_c['גיל_56_64']
# i_c_en['age_65_plus']   = i_c['גיל_65_פלוס']

# i_c_en

,yishuv_symbol,yishuv_name,total,age_5_0,age_6_18,age_19_45,age_46_55,age_56_64,age_65_plus
0,0,לא רשום,31373,5463,2504,1245,596,648,20917
1,7,שחר,770,65,189,256,93,74,93
2,10,תירוש,444,39,72,160,50,57,66
3,11,"ניר ח""ן",621,43,135,200,77,59,107
4,13,חצבה,800,61,202,245,100,43,149
...,...,...,...,...,...,...,...,...,...
1261,9400,יהוד-מונוסון,33532,2594,6474,10760,4482,3067,6155
1262,9500,קרית ביאליק,49819,3871,8242,16514,5967,4457,10768
1263,9600,קרית ים,48794,2802,6889,15050,6059,5274,12720
1264,9700,הוד השרון,69009,5273,14783,21554,10150,6149,11100
1265,9800,בנימינה-גבעת עדה,16408,1130,4208,5209,2689,1399,1773

In [15]:
# i_c_en.to_csv('./csv_tables/israeli_cities.csv', index=False)

i_c = pd.read_csv('./csv_tables/israeli_cities.csv')
i_c

,yishuv_symbol,yishuv_name,total,age_5_0,age_6_18,age_19_45,age_46_55,age_56_64,age_65_plus
0,0,לא רשום,31373,5463,2504,1245,596,648,20917
1,7,שחר,770,65,189,256,93,74,93
2,10,תירוש,444,39,72,160,50,57,66
3,11,"ניר ח""ן",621,43,135,200,77,59,107
4,13,חצבה,800,61,202,245,100,43,149
...,...,...,...,...,...,...,...,...,...
1261,9400,יהוד-מונוסון,33532,2594,6474,10760,4482,3067,6155
1262,9500,קרית ביאליק,49819,3871,8242,16514,5967,4457,10768
1263,9600,קרית ים,48794,2802,6889,15050,6059,5274,12720
1264,9700,הוד השרון,69009,5273,14783,21554,10150,6149,11100
1265,9800,בנימינה-גבעת עדה,16408,1130,4208,5209,2689,1399,1773

In [16]:
i_c[i_c.yishuv_name == 'ירושלים']

Empty DataFrame
Columns: [yishuv_symbol, yishuv_name, total, age_5_0, age_6_18, age_19_45, age_46_55, age_56_64, age_65_plus]
Index: []

In [16]:
bicycle = 15
scooter = 21
e_cycle = 23
# calnoit = 22

micro_v = [bicycle, scooter, e_cycle]

Lets check accidents by vehicle and it's percentage.

In [12]:
i_m_h.columns[i_m_h.columns.str.contains('vehicle_type')]

Index(['involve_vehicle_type'], dtype='object')

We have repeating columns, lets drop them.

In [8]:
# i_m_h.drop(columns=['vehicle_vehicle_type', 'involve_vehicle_type_hebrew', 'vehicle_vehicle_type_hebrew'], inplace=True)

In [9]:
# i_m_h.to_csv('./csv_tables/involved_markers_heb.csv', index=False)

In [28]:
i_m_h.involve_vehicle_type.value_counts(normalize=True).loc[micro_v]

15.0    0.010911
21.0    0.003111
23.0    0.010618
Name: involve_vehicle_type, dtype: float64

Lets see precentage of accidents by city.